[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
clippings = "*"
notion = "*"
python-box = "*"
pyyaml = "*"
fuzzywuzzy = "*"

[dev-packages]
pytest = "*"
pylint = "*"
autopep8 = "*"

[scripts]
kindle = "python -m notion_toolkit.kindle_clipping"

[requires]
python_version = "3.9"
